<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{pages.passwordReset.title}">${subject}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body style="font-family: sans-serif">
<div>
  <!-- ### INSERT HEADER HERE ### -->
</div>
<div th:switch="${codeFound}">
  <div th:case="false">
    invalid code
  </div>
  <div th:case="true">
    valid code
    <script th:inline="javascript">
      /*<![CDATA[*/
      var code = /*[[${passwordResetCode}]]*/ 'PASSWORD-RESET-CODE';
      /*]]>*/
    </script>
  </div>
  <div th:case="*">
    Should never happen, but who knows ...
  </div>
</div>
<div>
  <span th:text="#{pages.passwordReset.bodyText}">Pages passwordReset body text</span><br/>
  Code: <span th:text="${passwordResetCode}">PASSWORD-RESET-CODE</span><br/>
  <br/>
  TODO:<br/>
  create password reset form that makes JavaScript API call to:<br/>
  <pre>
    HTTP POST [[${apiCall}]]
    {
      "password": "...",
      "passwordResetCode": "[[${passwordResetCode}]]"
    }
  </pre>
  <br/>
  -or-<br/>
  <br/>
  Use basic HTML form:
<form th:object="${request}" method="post" th:action="${apiCall + '_basic'}" action="/api/_reset-password-api-call">
  <input th:field="*{passwordResetCode}" type="hidden" id="passwordResetCode" th:value="${request.passwordResetCode}" value="PASSWORD-RESET-CODE"/>
  <label for="password">New password:</label> <input th:field="*{password}" type="password" id="password"/>
  <input type="submit" id="submit" value="Submit"/>
</form>
</div>
<div>
  <!-- ### INSERT FOOTER HERE ### -->
</div>
</body>
</html>
