<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{templates.email.html.notifyUsernameChange.title}">Subject: ${subject}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body style="font-family: sans-serif">
<p th:text="#{templates.email.default.greeting} + ${#strings.isEmpty(firstName) ? '' : (' ' + firstName)} + ','">
  Greetings John,
</p>
<p th:text="#{templates.email.html.notifyUsernameChange.bodyText}">
  Templates email notifyUsernameChange body text.
</p>
<p>
  Old username (email): <span th:text="${oldEmailAddress}">old@example.com</span><br/>
  New username (email): <em><span th:text="${newEmailAddress}">new@example.com</span></em>
</p>
<p>
  <span th:text="#{templates.email.default.farewell}">Regards</span>,<br/>
  <em><span th:text="#{templates.email.default.signature}">The Openease Team</span></em><br/>
  <img th:src="${#strings.isEmpty(logoFileName) ? '/img/openease-logo-basic.png' : ('cid:' + logoFileName)}" src="./img/openease-logo-basic.png" width="157" height="20" alt="Openease logo"/>
</p>
</body>
</html>
